
body.innerBackground {
	background: white;
}

/* END FOR CODE */

.main-page.row,
.main-page .row {
	display: block;
}

.b-intro {
	position: relative;
	overflow: hidden;
	height: 540px;

	background-color: rgb(50, 124, 50);
	background-image: radial-gradient(at left, #062706 40%, #327c32);
	background-repeat: repeat-x;

	z-index: 3;
}

.b-intro .welcome {
	position: absolute;
	top: 140px;
	left: 0;
	z-index: 5;
	width: 100%;

	text-align: center;

	pointer-events: none;
}

.b-intro .welcome .title {

	width: 100%;
	font-size: 7em;
	text-align: center;
	display: inline-block;
	margin: 0 auto;

	text-shadow: 1px 1px 1px #000000;
	background: transparent; /* Feedback color */

	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000')"; /* For IE8 */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000'); /* For IE6,IE7 */

	zoom: 1;
	font-weight: bold;
	color: #ffffff;
	padding: 5px 20px 15px 10px;

	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(40%, #000000), color-stop(100%, rgba(0, 0, 0, 0.6)));
}

.b-intro .welcome .subtitle {
	width: 100%;
	font-size: 3.5em;
	text-align: center;

	text-shadow: 1px 1px 1px #000000;
	background: transparent; /* Feedback color */

	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000')"; /* For IE8 */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000'); /* For IE6,IE7 */

	zoom: 1;
	margin: 0 auto 10px auto;
	display: inline-block;
	font-weight: normal;
	color: #ffffff;
	padding: 5px 20px 15px 10px;

	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(40%, #000000), color-stop(100%, rgba(0, 0, 0, 0.6)));

}

.b-intro .welcome .btn {
	pointer-events: all;
}

.b-social {
	background-color: #f5f5f5;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

.b-social .buttons {
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.b-social .buttons li {
	display: inline-block;
	padding: 5px 8px;
	line-height: 1;
}

.b-social .buttons li.gplus {
	width: 75px;
}

.b-social .buttons li.tweetbtn {
	width: 90px;
}

.b-social .buttons li.gitbtn {
	width: 70px;
}

.b-content-introduction .greetings {
	font-weight: 300;
	font-size: 1.5em;
	color: #316331;
	padding: 10px 80px;
	text-align: center;
	text-shadow: 1px 1px 1px #ffffff;
}

.commit a {
	color: #368736
}

.commit a:hover {
	color: #337333
}

.b-github .column {
	padding: 0;
}

.section-title {
	width: 100%;
  margin: 40px 0;
  padding: 5px 20px 15px 0;
	color: #555555;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.l-content .section-text {
	font-size: 1.1em;
	color: #676767;
	text-shadow: 1px 1px 1px #ffffff;
	line-height: 1.3em;
}

/* MAIN NAVIGATION */

.main-nav.nav .dropdown {
	z-index: 101;
}

.main-nav a {
	padding: 15px;
	color: #327c32;
	font-size: 16px;
}

.main-nav .hamburger .line {
	background-color: #327c32;
}

.main-nav a:hover,
.main-nav.nav .nav-logo:hover a,
.main-nav .hamburger:hover .line {
	color: #2e692e;
}

.nav .dropdown {
	z-index: 11;
}

div.nav-example:last-of-type .nav-vertical {
	background: #ffffff;

	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

	border: 1px solid rgba(0, 0, 0, .15);
}

/* GRID examples */

.b-section-grid .column {
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	border-right: 1px dashed #cccccc;
}

.b-section-grid .column:last-child {
	border: none;
}

.b-section-grid .light-green {
	background-color: #369636;
}

.b-section-grid .medium-green {
	background-color: #327c32;
}

.b-section-grid .dark-green {
	background-color: #2e692e;
}

.b-section-grid .basics,
.b-section-grid .mobile {
	margin: 0 auto 10px auto;
}

.b-section-grid .nesting {
	margin: 0 auto;
}

.b-section-grid .nesting .column .column {
	border: 1px dashed #cccccc;
}

.b-section-grid .nesting .column .column:nth-child(1),
.b-section-grid .nesting .column .column:nth-child(3) {
	margin: auto;
	border: none;
}

.b-section-grid .nesting .column .column:nth-child(2) {
	border-bottom: none;
	border-top: none;
}

.b-section-grid .nesting .row .row .column {
	border: 1px dashed #cccccc;
	border-bottom: none;
	border-top: none;
	line-height: 35px;
}

.b-section-grid .nesting .row .row .column:nth-child(1),
.b-section-grid .nesting .row .row .column:nth-child(3) {
	border: none;
}

.b-section-grid .row .centered .column {
	border-bottom: 1px dashed #cccccc;
}

.b-section-grid .row .centered .column:nth-child(2) {
  border-right: none;
}

.b-section-grid .row .centered .column:nth-child(3) {
	border: none;
}

.b-section-grid .mobile .row .column {
	border-bottom: 1px dashed #cccccc;
}

.b-section-grid .news-block img {
  margin-top: 20px;
}

.b-section-grid .mobile .row:last-of-type .column {
	border-bottom: none;
}

/* FORM examples */

.xs16 > form > .row > .xs2,
.xs16 > form > .row > .xs3,
.xs16 > form > .row > .xs4 {
	margin: 0 20px 30px 0;
}

/* LOADER examples */

.segment {
	margin-top: 20px;
}

/* MENU examples */

.b-section-menu {

}

.b-section-menu .content {

	background: rgb(239, 239, 239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 239, 239, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(239, 239, 239, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#efefef', GradientType=0); /* IE6-9 */

	border-top: 1px solid #e5e5e5;

}

.b-section-typography .content {
	padding: 0 20px;

}

.b-section-typography .unordered {
  margin-top: 30px;
}

.b-section-typography .transform-example,
.b-section-typography .align-example {
  margin-top: 20px;
}

.b-section-typography .transform-example span,
.b-section-typography .align-example span {
  margin-top: 5px;
  display: block;
}

.b-section-btn .btn {
  margin-left: 3px;
  margin-right: 3px;
}

.b-section-utilities .example-1 th small {
  display: block;
  font-weight: 400;
  color: #a7a7a7;
}

.b-section-utilities .example-1 .is-visible {
  background-color: #cff2ca;
  color: #397339;
  text-align: center;
}

.b-section-utilities .example-1 .is-hidden {
  background-color: #f1f1f1;
  color: #cccccc;
  text-align: center;
}

.b-section-utilities .example-1 table tbody:first-of-type tr:last-of-type {
  border-bottom: 2px solid #dddddd;
}

.b-section-utilities .example-2 > div {

}

.b-section-utilities .example-2 > div > span {
  padding: 20px 10px;
  display: block;
  font-size: 15px;
  color: #397339;
  text-align: center;
  background-color: #cff2ca;
}

.b-section-utilities .example-2 > div > span i,
.b-section-utilities .example-3 > div > span i {
  margin-right: 5px;
}

.b-section-utilities .example-3 > div > span {
  padding: 23px;
  display: block;
  font-size: 15px;
  color: #a94442;
  text-align: center;
  background-color: #f5e1e1;
}

.b-section-navs .navs-example,
.b-section-flex .flex-example {
  margin-bottom: 30px;
}

.b-section-flex .flex-example {
  background-color: rgba(50, 124, 50, 0.3);
}

.b-section-flex .flex-example .column {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #327c32;
  border: 1px solid #2e692e;
}

.b-section-flex .flex-example .column span {
  display: block;
}

.b-section-flex .flex-example.example-align {
  min-height: 150px;
}




.b-section-ui .content {

	background: rgb(239, 239, 239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 239, 239, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(239, 239, 239, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#efefef', GradientType=0); /* IE6-9 */

	border-top: 1px solid #e5e5e5;

}

.b-section-js .content {

	background: rgb(239, 239, 239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 239, 239, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(239, 239, 239, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#efefef', GradientType=0); /* IE6-9 */

	border-top: 1px solid #e5e5e5;

}

.b-nav {

}

.b-showcase {
	background: #ffffff;
}

.b-end {
	position: relative;
	overflow: hidden;
	height: 420px;

	background: rgb(0, 183, 234); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjdlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDllYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 183, 234, 1)), color-stop(100%, rgba(0, 158, 195, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0); /* IE6-8 */
}

.b-end:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	content: '';
}

/* MEDIA QUERIES SELECTOR */

#b-top-bar-breakpoints {
	line-height: 30px;
}

.b-top-bar-breakpoint-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
}

.b-top-bar-breakpoint {
	background: transparent;
	display: block;
	position: relative;
	height: 32px;
	font-size: 11px;
	margin: 0 auto;
	text-align: left;
	border: none;
	padding: 0;
	-webkit-transition: background-color 150ms linear;
	-moz-transition: background-color 150ms linear;
	-o-transition: background-color 150ms linear;
	-ms-transition: background-color 150ms linear;
	transition: background-color 150ms linear;
}

.b-top-bar-breakpoint:before {
	left: -1px;
}

.b-top-bar-breakpoint:before, .b-top-bar-breakpoint:after {
	display: block;
	height: 32px;
	width: 1px;
	content: '';
	position: absolute;
	top: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.b-top-bar-breakpoint:after {
	right: -1px;
}

.b-top-bar-breakpoint:before, .b-top-bar-breakpoint:after {
	display: block;
	height: 32px;
	width: 1px;
	content: '';
	position: absolute;
	top: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.b-breakpoint-color {
	height: 32px;
	opacity: 0;
	-webkit-transition: all 175ms ease;
	-moz-transition: all 175ms ease;
	-o-transition: all 175ms ease;
	transition: all 175ms ease;
}

.b-breakpoint-name {
	color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: none;
	font-size: 24px;
}

.b-breakpoint-name i.icon-desktop {
	font-size: 20px;
	top: -3px;
}

.b-breakpoint-name i {
	position: relative;
}

.icon-desktop:before {
	content: 'ï„ˆf108';
}

#b-control-elements a, #b-control-elements div {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#b-top-bar-actions, #b-top-bar-breakpoints {
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.66);
	-moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.66);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.66);
}

#b-top-bar-breakpoints {
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	z-index: 99999;
	top: 0;
	height: 32px;
	line-height: 30px;
	width: 100%;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.b-top-bar-breakpoint.active .b-breakpoint-width-left, .b-top-bar-breakpoint.active .b-breakpoint-width-right {
	text-shadow: 0 0 1px #888;
}

.b-top-bar-breakpoint.active .b-breakpoint-width-left, .b-top-bar-breakpoint.active .b-breakpoint-width-right {
	font-weight: bold;
}

.b-breakpoint-width-right {
	right: -20px;
}

.b-breakpoint-width-left {
	left: -20px;
}

.b-breakpoint-width-left, .b-breakpoint-width-right {
	color: #000;
	font-size: 1em;
	position: absolute;
	top: 1px;
	display: block;
	width: 40px;
	text-align: center;
	opacity: 1;
	line-height: 30px;
	-webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#b-top-bar-breakpoints:not(:hover) .active > .b-breakpoint-name {
	display: block !important;
}

.b-top-bar-breakpoint:hover .b-breakpoint-color {
	opacity: 1;
}

.b-footer {

}

.b-footer .copyright {
	list-style-type: none;
}

.b-footer .copyright .item {
	display: inline-block;
	padding: 0 3px;
}

.l-mediaWrapper {
	margin: 32px auto 0 auto;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	display: block;
}

.shortparagraph {
	max-width: 625px;
	width: 100%;
	height: 100%;
}

.b-github .commit {
	width: 100%;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	background-color: #2A2730;
	padding: 0 10px;
	color: #ffffff;
	text-align: center;
}

.hero-image {
	background-color: rgb(50, 124, 50);
	background-image: radial-gradient(at left, #062706 10%, #327c32);
	background-repeat: repeat-x;
	padding: 50px;
}

.hero-image .title {
	width: 100%;
	font-size: 4em;
	display: inline-block;
	margin: 0 auto;
	text-shadow: 1px 1px 1px #000000;
	background: transparent;
	zoom: 1;
	font-weight: bold;
	color: #ffffff;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(40%, #000000), color-stop(100%, rgba(0, 0, 0, 0.6)));
	line-height: 68px;
}

.hero-image p {
	font-size: 1.5em;
	display: inline-block;
	margin: 30px auto 0 auto;
	text-shadow: 1px 1px 1px #000000;
	background: transparent;
	color: #ffffff;
	opacity: 0.85;
}

.container .bs-callout-info {
	display: inline-block;
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left: 5px solid #316331;
	background-color: #ffffff;
}

.b-outro {
	background-color: #327c32;
	position: relative;
	display: block;
	margin-top: 25px;
}

.b-outro .row > div {
	padding: 25px;
}

.b-outro .row > div h6 {
	text-align: center;
	font-size: 1.5em;
	color: #f8f8f8;
}

.b-outro .row > div p {
	text-align: center;
	color: #f8f8f8;
}

.b-outro a {
	text-decoration: underline;
	color: #f8f8f8;
}

.b-outro a:hover {
	color: #c8c7c8;
}

.footer {
	width: 100%;
	min-height: 100px;
	background-color: #212121;
	color: #f8f8f8;
	text-align: center;
}

.footer .list-inline {
	display: block;
	text-align: center;
}

.footer .list-inline > li {
	display: inline-block;
	padding: 40px 20px;
}

.footer .list-inline > li > a {
	vertical-align: middle;
	color: #f8f8f8;
	font-size: 14px;
}

.footer .list-inline > li > a:hover {
	text-decoration: underline;
}

.footer > p {
	margin: 0;
	padding-bottom: 40px;
}

.hljs {
	padding: 0;
}

.highlight pre {
	padding: 10px;
	margin-top: 0;
	margin-bottom: 0;
	word-break: normal;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

pre {
	display: block;
	padding: 10px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.5;
	color: #b9b9b9;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #2b2b2b;
	border: 1px solid #ccc;
	border-radius: 4px;
}

pre code {
	padding: 0;
	font-size: inherit;
  color: #777777;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}


figure.highlight {
	position: relative;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
	border-radius: .28571429rem;
	border: 1px solid rgba(34, 36, 38, .15);
	padding: 0;
	margin: 20px 20px 10px 0;
}

/*.highlight pre code:first-child {*/
	/*display: inline-block;*/
	/*padding-right: 45px;*/
/*}*/

.container .example {
	margin-bottom: 10px;
}

.nav-example:not(:last-of-type) {
	margin-bottom: 10px;
	border: 1px solid #c8c8c8;
}



/* alerts */

.row > div.alert {
	margin-bottom: 20px;
}

/* wizard */

.wizard.b-example li:hover {
	color: #222222;
	background-color: inherit;
	cursor: default;
}

.wizard.b-example li:not(.active):hover .title {
	color: #222222;
	cursor: default;
}

.wizard.b-example .active:hover {
	background-color: #f1f1f1;
}

.b-example.wizard:not(.wizard-vertical) .step:not(.active):hover:after {
	border-color: transparent transparent transparent #ffffff;
}



