<div class="container">
	<div class="nav nav-horizontal">
		<!-- NAV ITEMS -->
		<div class="row">
			<!-- NAV TITLE -->
			<ul class="to-left">
				<li class="name">
					<a href="./index.html" class="title">
						16 Blocks
					</a>
				</li>
				<li class="toggle-navbar"><a href="#"></a></li>
			</ul>
			<!-- Left Nav Section -->
			<ul class="to-left">

				<li class="has-dropdown">
					<a class="active" href="#">Getting Started<span class="caret"></span></a>
					<ul class="dropdown">
						<li>
							<a href="./grid.html" class="">Grid</a>
						</li>
					</ul>
				</li>

				<li class="has-dropdown">
					<a class="active" href="#">CSS<span class="caret"></span></a>
					<ul class="dropdown">
						<li>
							<a href="./typography.html">Typography</a>
						</li>
						<li>
							<a href="./form.html">Form</a>
						</li>
						<li class="divider"></li>
						<li><a href="./tables.html">Tables</a></li>
					</ul>
				</li>

				<li class="has-dropdown">
					<a class="active" href="">Components<span class="caret"></span></a>
					<ul class="dropdown">
						<li>
							<a href="./nav.html">Navigation</a>
						</li>
						<li>
							<a href="./uielements.html">Ul elements</a>
						</li>
						<li class="divider"></li>
						<li><a href="./breadcrumb.html">Breadcrumb</a></li>
						<li><a href="./pagination.html">Pagination</a></li>
						<li><a href="./badges.html">Badges</a></li>
						<li><a href="./alerts.html">Alerts</a></li>
					</ul>
				</li>

			</ul>
		</div>
	</div>
</div>