<div class="container">
	<div class="nav nav-horizontal">
		<!-- NAV ITEMS -->
		<div class="row">
			<!-- NAV TITLE -->
			<ul class="to-left">
				<li class="name">
					<a href="./index.html" class="title">
						16 Blocks
					</a>
				</li>
				<li class="toggle-navbar"><a href="#"></a></li>
			</ul>
			<!-- Left Nav Section -->
			<ul class="to-left">

				<li class="has-dropdown">
					<a class="active" href="./grid.html">Getting Started<span class="caret"></span></a>
					<ul class="dropdown">
						<li class="menu-heading">
							<span class="section">Section Name</span>
						</li>
						<li>
							<a href="#" class="">Grid</a>
						</li>
						<li>
							<a href="#">Level 1</a>
						</li>
						<li class="divider"></li>
						<li class="menu-heading">
							<span class="section">Section Name</span>
						</li>
						<li><a href="#">Level 1</a></li>
						<li><a href="#">Level 1</a></li>
						<li><a href="#">Level 1</a></li>
						<li class="divider"></li>
						<li><a href="#">See all в†’</a></li>
					</ul>
				</li>

				<li class="has-dropdown">
					<a class="active" href="#">CSS<span class="caret"></span></a>
					<ul class="dropdown">
						<li class="menu-heading">
							<span class="section">Section Name</span>
						</li>
						<li>
							<a href="./typography.html">Typography</a>
						</li>
						<li>
							<a href="./form.html">Form</a>
						</li>
						<li class="divider"></li>
						<li class="menu-heading">
							<span class="section">Section Name</span>
						</li>
						<li><a href="#">Level 1</a></li>
						<li><a href="#">Level 1</a></li>
						<li><a href="#">Level 1</a></li>
						<li class="divider"></li>
						<li><a href="#">See all в†’</a></li>
					</ul>
				</li>

				<li class="has-dropdown">
					<a class="active" href="./components.html">Components<span class="caret"></span></a>
					<ul class="dropdown">
						<li class="menu-heading">
							<span class="section">Section Name</span>
						</li>
						<li>
							<a href="./nav.html">Navigation</a>
						</li>
						<li>
							<a href="">Level1</a>
						</li>
						<li class="divider"></li>
						<li class="menu-heading">
							<span class="section">Section Name</span>
						</li>
						<li><a href="#">Level 1</a></li>
						<li><a href="#">Level 1</a></li>
						<li><a href="#">Level 1</a></li>
						<li class="divider"></li>
						<li><a href="#">See all в†’</a></li>
					</ul>
				</li>

				<li>
					<a class="" href="#">JavaScript</a>
				</li>

			</ul>

			<!-- Right Nav Section -->
			<ul class="to-right">
				<li class="show-for-medium-and-up"></li>
				<li class="has-dropdown">
					<a href="#">Item 2 <span class="caret"></span></a>
					<ul class="dropdown">
						<li class="menu-heading"><span class="section">Section Name</span></li>
						<li><a href="#" class="">Level 1</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li class="divider"></li>
						<li class="menu-heading"><span class="section">Section Name</span></li>
						<li><a href="#">Dropdown Option</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li class="divider"></li>
						<li><a href="#">See all в†’</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>